div.footer{
    text-align: center;
    font-size: small;
    height: 10%;
    bottom: 0;
    left: 5%;
    width: 90%;
    position: fixed;
    background-color: #303030;
    color: #ffffff;
    margin: 0;
    border: 0;
    padding: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

div.header{
    font-size: large;
    height: 10%;
    top: 0;
    left: 5%;
    width: 90%;
    position: fixed;
    background-color: #303030;
    color: #ffffff;
    margin: 0;
    border: 0;
    padding: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: auto;
}

div.header span.button{
    top: 0;
    left: 0.3em;
    padding: 0.3em;
    margin: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    background-color: #c0c0c0;
}

div.header span.button:hover{
    background-color: #a0a0a0;
}

div.header a{
    color: #ffffff;
    text-decoration: none;
}

body{
    background-color: #D0D0D0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}

div.main{
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 90%;
    position: fixed;
    overflow: auto;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 2em;
    padding-right: 2em;
}

div.code{
    height: 75%;
    top: 20%;
    position: absolute;
    width: 100%;
    left: 0;
    overflow:auto;
}

div.disad{
    height: 80%;
    top: 15%;
    position: absolute;
    width: 0;
    right: 0;
    overflow:auto;
    z-index : 100;
}
h1.title{
    height : 10%;
    top: 0;
    position: absolute;
}
p.info{
    height : 5%;
    top: 10%;
    position: absolute;
}

textarea {
   resize: none;
}
